fontface('Pangram', 'Pangram-Regular')
fontface('Hatton', 'Hatton-Regular')
fontface('Montserrat', 'Montserrat-Regular')
fontface('MontserratSemiBold', 'Montserrat-SemiBold')

html, body
  margin 0
  padding 0
  font-family 'SuisseIntl'
  color $black
  width 100%

// html
//   padding env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left)

a
  color currentColor
  text-decoration none