// mobile()
//   @media only screen and (max-width: 767px)
//     block

// tablet()
//   @media only screen and (max-width: 960px)
//     block

// desktop()
//   @media only screen and (max-width: 1280px)
//     block

// desktop-wide()
//   @media only screen and (max-width: 1440px)
//     block

// tablet()
//   @media only screen and (min-width: 768px)
//     block

// desktop()
//   @media only screen and (min-width: 961px)
//     block

// desktop-wide()
//   @media only screen and (min-width: 1281px)
//     block

// hd()
//   @media only screen and (min-width: 1441px)
//     block
rupture.anti-overlap = true

rupture.mobile-cutoff = 688px
rupture.desktop-cutoff = 992px
rupture.hd-cutoff = 1312px

// 576px 768px 992px 1200px
rupture.scale = 0 480px 688px 992px 1312px 1900px
rupture.scale-names =  'xs' 's' 'm' 'l' 'xl' 'hd'