$white = #FFFFFF
$black = #000000

$blue = #445AEC
$yellow = #FFDB3B
$orange = #FF914A
$beige = #FFF7E2
$red = red
$darkgray = #373737
$gray = #4B4B4B

$test = #48FE9A


$grey = #F1F1ED

$grey = #EEEEE8
$grey = #E7E6DD

$grey = #E1DFD3
$grey = #E5E3D9


$beige-01           = #E1DFD3
$beige-02           = #D4D2C3
$beige-03           = #F1F1ED
$beige-04           = #E5E3D9
$green-background   = #464B3E
$freen-filter-photo = #5C6240
$beige-text         = #EFEDE1
$black              = #292929
$black-hover-text   = #575757
$black-hover-button = #363636
$medium-grey        = #535353
$light-grey         = #838383
$green-correct      = #778C52
$red-incorrect      = #DB7662
$zen-essence        = #C4BFA6
$heathered-grey     = #B8B393




$layout = {
  x: 24px

  xl: {
    x: 7%
  }
  hd: {
    x: 10%
  }
}
