{{ header }}
<div class="information-auxiliary-block block-layout-navigation">
    <div class="information-auxiliary-block__wrapper">
        <div class="information-auxiliary-block__title title-medium-second" animation="fade-up" animation-delay="0">404</div>
        <div class="information-auxiliary-block__content"  animation="fade-up" animation-delay="0.2">
            <p> <span>This page not found. Maybe you want to be inspired by our </span><a class="underline dark" href="/">homepage</a><span>?</span></p>
        </div>
        <div class="information-auxiliary-block__media"  animation="fade-up" animation-delay="0.4"><img src="./catalog/view/theme/default/assets/images/404.png"></div>
    </div>
</div>
{{ footer }}
